h1, h2, h3, h4, h5, h6 {
    font-family: Garamond;
    letter-spacing: 2px;
}

#h1 {
    text-align: center;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#main-header a {
    text-decoration: none;
    color: darkslategrey;
}

#main-header a:active {
    color: lightblue;
}

.container {
    width: 85%;
    margin: auto;
    overflow: hidden;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.explanation {
    list-style-type: none;
}

body {
    background: white;
    font-family: Times;
    font-size: 19px;
    color: darkslategrey;
    margin: 0;
}

